{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define":  "off",
    "indent":  "off",
    "linebreak-style":  "off",
    "eol-last":  "off",
    "no-empty-function":"off",
    "class-methods-use-this": "off",
    "no-unused-vars": "off",
    "no-trailing-spaces": "off",
    "semi": "off",
    "space-before-blocks": "off",
    "eslint-plugin-import/no-cycle": "off",
    "arrow-parens":"off",
    "comma-dangle": "off",
    "padded-blocks": "off",
    "no-await-in-loop": "off",
    "new-cap": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-param-reassign": ["error", { "props": false }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    
    // 处理类成员空白行
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],

    // 处理未定义变量
    "no-undef": "off",
    "eslint-plugin-import/no-named-as-default": "off",
    "eslint-plugin-import/no-named-as-default-member": "off",
    "no-restricted-syntax": "off",
    "no-multiple-empty-lines": "off"
  }
}